@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Figtree";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header Styles */
.header {
  max-width: 1920px !important;
  /* Si quiero cambiar el header tengo que usar esto */
  /*background-color: #fff475;*/
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}
.hoverable:hover {
  cursor: pointer;
}

/* Showcase Styles */
.showcase {
  /*background: var(--dark);*/
  padding-top: 40px;
  /*display: flex;*/
  justify-content: center;
}

.miCard {
  border-radius: 0.5rem;
  box-shadow: #00000036 0px 4px 6px -1px, #00000028 0px 2px 4px -1px;
  transition: box-shadow 0.2s ease 0s;
}
.miCard:hover {
  box-shadow: 0 1px 2px 1px rgba(80, 80, 80, 0.651);
  transition: box-shadow 0.2s ease 0s;
}

.miCard:hover .hiddenCardIcons {
  opacity: 1 !important;
}

.hiddenCardIcons {
  transition-duration: 0.2s ;
  transition-timing-function: ease-in;
}

.Typography {
  font-family: "Figtree" !important;
  box-sizing: border-box !important;
}

.textFieldTitle {
  padding-bottom: 1%;
}

.textFieldTitle .MuiInput-input {
  font-size: 1.375rem !important;
  font-weight: 500 !important;
  font-family: "Figtree" !important;
  /*color: #181818 !important;*/
}
.textFieldContent .MuiInput-input {
  font-weight: 400 !important;
  font-family: "Figtree" !important;
  /*color: #181818 !important;*/
}

.footerCard {
  position: sticky;
  bottom: 0;
  z-index: 1;
  /*padding-top: 2%;*/
}

.pregunta {
  display: flex;
  justify-content: right;
}

.divTitle {
  padding-bottom: 1.5%;
}
.textTitle {
  font-size: 1.3rem !important;
}
.textContent {
  font-weight: 400 !important;
  font-size: 0.91rem !important;
}

.MuiTooltip-tooltip {
  margin-top: 9px !important;
}

::-webkit-scrollbar-corner {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  /*background: var(--background);*/
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/* Este sería el color en NoteList para el modo claro */
/*::-webkit-scrollbar-thumb {
  background: #00000053 !important; 
  border-radius: 5px;
}*/

/*
::-webkit-scrollbar-thumb:hover {
  background: #ffffff6f !important;
  border-radius: 0.4em;
} */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

:root {
  --background: rgba(0, 0, 0, 0.2) !important;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme="dark"] {
  /*--background: rgba(255, 255, 255, 0.325);*/
  --background: red !important;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
